<?xml version='1.0' encoding='utf-8'?>
<widget id="com.jofomah.mobitour" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>mobitour</name>
    <description>
        A proof of concept recommender mobile app
    </description>
    <author email="osdevseries@gmail.com" href="http://twitter.com/jofomah">
        Jideobi Ofomah
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <icon src="www/main/assets/images/icon.png" density="ldpi" />
        <icon src="www/main/assets/images/icon.png" density="mdpi" />
        <icon src="www/main/assets/images/icon.png" density="hdpi" />
        <icon src="www/main/assets/images/icon.png" density="xhdpi" />
    </platform>

    <icon src="www/main/assets/images/icon.png" />
    <plugin name="cordova-plugin-device" spec="^1.0.0" />
    <plugin name="cordova-plugin-dialogs" spec="^1.1.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="^1.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^1.0.0" />
    <plugin name="cordova-plugin-statusbar" spec="^1.0.0" />
    <engine name="android" spec="^4.0.2" />
</widget>
